## Python-SQL 
### Retrieving dataset from mySQL

In [1]:
%pip install sqlalchemy ipython-sql

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting ipython-sql
  Using cached ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from sqlalchemy) (4.12.2)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython-sql) (9.0.1)
Collecting sqlparse (from ipython-sql)
  Using cached sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: colorama in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\admin\desktop\adv python-9-11am\repository\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 13.2 MB/s eta 0:00:00
Using cached ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-3.1.1 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.40 sqlparse-0.5.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Using cached mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install PyMySQL

Collecting PyMySQL
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sqlalchemy import URL,create_engine

In [2]:
import pandas as pd

In [3]:
conn_str = URL.create(
    drivername="mysql+pymysql",
    username="root",
    password="admin123",
    host = "localhost",
    port = 3306,
    database="wakad911"
)

In [4]:
engine = create_engine(conn_str)

In [ ]:
conn = engine.connect()
# to view all the tables present in wakad911 database
pd.read_sql("show tables",conn)

   Tables_in_wakad911
0           customers
1                dept
2             deptmnt
3              drinks
4                 emp
5                emp3
6            employee
7              snacks
8            startups
9        startups_new
10        studentdata
11               tips
12           user_101
13              users

In [ ]:
# retrieve all the columns from users table
df = pd.read_sql("select * from users",conn)
df

   userid    name             email        mob
0     109   Raman              None  679567456
1     110  thaman  thaman@gmail.com   57834523
2     111   suman    suma@gmail.com
3     112    tham  thaman@gmail.com    8976785
4     113   naman  thaman@gmail.com    3431232

In [8]:
# retrieve name,email from users table
df1 = pd.read_sql("select name,email from users",conn)
df1

     name             email
0   Raman              None
1  thaman  thaman@gmail.com
2   suman    suma@gmail.com
3    tham  thaman@gmail.com
4   naman  thaman@gmail.com

In [ ]:
# to push the datasets to mysql
df1.to_sql("users_new_py",conn,if_exists='replace')

5