## Variadic Functions

In [1]:
def add(x,y):
    '''
    Inputs: Takes 2 inputs x and y
    Outputs: Returns one output that contains sum of x and y
    '''
    add_2 = x+y
    return add_2

In [2]:
op_xy = add(23,67)
print(f"Output of add function is {op_xy}")

Output of add function is 90

In [3]:
#add(23,45,67,43)

In [4]:
def add(*args):
    for i in args:
        print(i)

In [5]:
add(23,45,67,43)

23
45
67
43

In [6]:
def add(*args):
    s = 0
    for i in args:
        s = s+i
        # args = 23,45,67,43
        # i=0, s=0+23=23
        # i=1,s=23+45 = 68
        #i=2, s=68+67=135
        #i=3,s=135+43=178
    return s  #178

In [7]:
sum_args = add(23,45,67,43)
print(sum_args)

178

In [8]:
sum_a1 = add(25)
print(sum_a1)

25

In [9]:
def multiply(x,*args):
    p = 1
    for i in args:
        p = p*i
    return f"product performed by {x} is {p}"

In [10]:
m1 = multiply("sindhu",2,3,4,10)
m1

'product performed by sindhu is 240'

In [11]:
def multiply_2(x,*args):
    p = 1
    for i in args:
        p = p*i
    welcome = f"Welcome {x}"
    return f"{welcome} : product of the provided data is {p}"

In [12]:
m2 = multiply_2("sindhu",3,67,10,10)

In [13]:
m2

'Welcome sindhu : product of the provided data is 20100'

### Scenario: I have lists of data ready with me. I want to add a value to each list(append)
    emp_data_1 = [101,"Raman"]
    emp_data_2 = [102,"Suman"]

    These 2 employees are working for "IT" department.
    Write a Function that takes lists as input and appends department details to both the lists

In [14]:
def appenddata(dept,*lists):
    '''
    Takes multiple lists as inputs and appends dept data to each list
    '''
    for l in lists:
        l.append(dept)

In [15]:
emp_data_1 = [101,"Raman"]
emp_data_2 = [102,"Thaman"]

In [16]:
appenddata("IT",emp_data_1,emp_data_2)

In [17]:
emp_data_1

[101, 'Raman', 'IT']

In [18]:
emp_data_2

[102, 'Thaman', 'IT']

## Keyword arguments

In [19]:
def func1(**kwargs):
    print(type(kwargs))

In [20]:
func1(id=101)

<class 'dict'>

In [21]:
dct = {
    "id":101
}

In [22]:
type(dct)

dict

In [23]:
dct.keys()

dict_keys(['id'])

In [24]:
dct.values()

dict_values([101])

In [25]:
# key value pair
dct.items()

dict_items([('id', 101)])

In [26]:
def func1(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [27]:
func1(id=101,name="Raman",salary=35000)

<class 'dict'>
dict_items([('id', 101), ('name', 'Raman'), ('salary', 35000)])

In [28]:
func1(id=202,name="Suman")

<class 'dict'>
dict_items([('id', 202), ('name', 'Suman')])

In [29]:
emp_data_1

[101, 'Raman', 'IT']

In [30]:
emp_data_2

[102, 'Thaman', 'IT']

In [31]:
emp_data_3 = [103,"Suman","HR",35000,"Suman@gmail.com"]

In [37]:
def data_lengths(**kwargs):
    dct = {}
    for key,value in kwargs.items():
        dct[key] = len(value)
        # **kwargs: emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3
        #1 key=emp1,value=emp_data_1
        # dct[emp1]=len(emp_data_1)
        # this process will repeat 3times
    return dct # dct[emp1]=3,dct[emp2]=3,dct[emp3]=5 
    # {emp1:3,emp2:3,emp3:5}

In [38]:
len_data = data_lengths(emp1=emp_data_1,emp2=emp_data_2,emp3=emp_data_3)
len_data

{'emp1': 3, 'emp2': 3, 'emp3': 5}

In [40]:
# If you are providing args and kwargs together, you must give args first 
def count_args(*args,**kwargs):
    return (len(args),len(kwargs))

In [41]:
count_args(1,2,3,name="Baman")

(3, 1)

In [42]:
count_args(1,4,10,name="Baman",id=102,email="baman@gmail.com")

(3, 3)