# Class

when functions are defined inside of a class, we refer them as a method

In [1]:
path = r"C:\Users\admin\Documents\Sindhura\LMS Basic Python and DA\datasets\50_Startups.csv"

In [2]:
import pandas as pd
df = pd.read_csv(path)
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [3]:
df.shape

(50, 5)

In [ ]:
df.shape

TypeError: 'tuple' object is not callable

In [5]:
df.columns

Index(['RND', 'ADMIN', 'MKT', 'STATE', 'PROFIT'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RND     50 non-null     float64
 1   ADMIN   50 non-null     float64
 2   MKT     50 non-null     float64
 3   STATE   50 non-null     object
 4   PROFIT  50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [8]:
def function_name(parameters):
    x = parameters+100
    return x

### Create a class person and define its attributes and methods

In [9]:
class person:
    ## Define instance attributes
    def __init__(self,name,age,occupation,stay):
        self.name = name
        self.age = age
        self.occupation = occupation
        self.stay = stay
    
    def talk(self):
        print(f"Hi, I am {self.name} and I am {self.age} years old")
        print(f"I live in {self.stay}")
        print(f"I work at {self.occupation}")
    
    def work(self,n):
        print(f"I am currently working at {self.occupation}.")
        print(f"It's been {n} years since am working at this company.")

In [10]:
p1 = person(name='Raman',age=34,occupation='Data Analyst',stay='Pune')

In [11]:
p1.age

34

In [12]:
p1.name

'Raman'

In [13]:
p1.occupation

'Data Analyst'

In [14]:
p1.stay

'Pune'

In [15]:
p1.talk()

Hi, I am Raman and I am 34 years old
I live in Pune
I work at Data Analyst

In [16]:
p1.work(3)

I am currently working at Data Analyst.
It's been 3 years since am working at this company.

### Create a class bank that contains attributes like bank accountnumber,name,balance.Define different methods like withdrawal,deposit,transfer

In [25]:
class etl_bank:
    # define the instance attributes
    def __init__(self,account_number,account_name,balance):
        self.account_number = account_number
        self.account_name = account_name
        self.balance = balance

    # Create a method that performs withdrawal action
    def withdrawal(self,amount):
        if amount < self.balance:
            self.balance = self.balance - amount
        return f"Amount Withdrawan is {amount}. Your updated balance is {self.balance}"
    
    # Create a method that deposits the amount provided by user 
    def deposit(self,deposit_amount):
        self.balance = self.balance + deposit_amount
        return f"Amount Deposited is {deposit_amount}. Your updated balance is {self.balance}"
    
    # Create a method that transfers the amount provided by user to another acc
    def transfer(self,transfer_amount,acc_no):
        self.balance = self.balance - transfer_amount
        return f"Amount being transferred is {transfer_amount}. Your updated balance is {self.balance}. Amount transferred to {acc_no}"

In [26]:
cust1 = etl_bank(234223412,'Thaman',90000)

In [19]:
cust1.balance

90000

In [20]:
cust1.account_name

'Thaman'

In [21]:
cust1.account_number

234223412

In [22]:
cust1.withdrawal(5000)

'Amount Withdrawan is 5000. Your updated balance is 85000'

In [23]:
cust1.deposit(10000)

'Amount Deposited is 10000. Your updated balance is 95000'

In [27]:
cust1.transfer(8000,89567356)

'Amount being transferred is 8000. Your updated balance is 82000. Amount transferred to 89567356'